html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
img {
  max-width: 100%;
}
ol,
ul {
  list-style: none;
  font-family: "Work Sans";
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  font-family: "Work Sans";
}
span {
  font-family: "Work Sans";
}
h1 {
  font-family: "Work Sans";
}
h2 {
  font-family: "Work Sans";
}
h3 {
  font-family: "Work Sans";
}

h4 {
  font-family: "Work Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #292e3d;
  text-transform: capitalize;
  margin: 80px 0;
  padding: 30px 0 0 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
header {
  display: block;
  padding: 20px 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.header-wrapper p {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  font-style: bold;
  color: #2947a9;
}

.left-col {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-left: 25px;
}

.right-col a {
  font-size: 18px;
  font-family: "Work Sans";
  font-weight: 400;
  text-decoration: none;
  color: #14171f;
}

.right-col .alter {
  color: #f9995d;
  font-weight: 600;
}

.banner {
  background: url(../img/Hero.jpg) no-repeat;
  background-size: cover;
  height: 545px;
  position: relative;
}

.hero-left-overlay {
  position: absolute;
  font-size: 72px;
  font-weight: 600;
  color: #292e3d;
  line-height: 100%;
  text-transform: capitalize;
  top: 40%;
  left: 5%;
}

.projects {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  padding: 0 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.university {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.btns {
  background-color: #292e3d;
  text-align: center;
}

.next-btn::before {
  content: "|";
  color: #fff;
  position: absolute;
  right: 49%;
}

.btns button {
  color: #fff;
  background: none;
  border: none;
  margin: 0 65px;
  padding: 5px 0;
}

.hero-bottom-overlay {
  position: absolute;
  background-color: #3559c7;
  width: 416px;
  bottom: 0;
  right: 0;
}

.main-items {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}

.main-item-col {
  padding: 20px 30px;
  margin: 10px;
  border: 1.4px solid #e0e3eb;
}

.main-block {
  margin-bottom: 80px;
}

.main-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
  margin: 15px 0;
}

.main-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #858ead;
  margin: 15px 0;
  width: 255px;
}

.about-us-wrapper {
  position: relative;
  padding: 15px;
}

.about-us-wrapper img {
  width: 760px;
}

.about-us-overlay {
  position: absolute;
  top: 12%;
  right: 5%;
  height: 450px;
  width: 488px;
  background: #2947a9;
}

.about-us-overlay h4 {
  text-align: start;
  color: #fff;
  margin: 0 0 30px 30px;
}

.company-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  padding: 10px;
  margin: 40px 0 0 30px;
}

.history-btn {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  background-color: #fff;
  border: none;
  color: #2947a9;
  padding: 15px 10px;
  border: 2px;
  border-radius: 6px;
}

.about-us-overlay button {
  margin: 40px;
}
